{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
{% assign visible_posts = site.data.posts | sort: 'date' | reverse %}

<ul class="post-list">
    {% for post in visible_posts limit:include.limit %}
    <li>
        <h3>
            {% include external_link.html text=post.title link=post.link class="post-link" %}
            <span class="post-meta">{{ post.date | date: date_format }}{% if post.author %} • {{ post.author }}{% endif %}{% if post.meta %} • {{ post.meta }}{% endif %}</span>
        </h3>
        <p>
            {{ post.excerpt }}
        </p>
    </li>
    {% endfor %}
</ul>