$demo-img-height: 200px;
$dsx-green: #6DEDD8;

body, h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#header-menu {
  line-height: 100px;
  font-size: 20px;
}

.site-header {
  background-color: #152933;
  .site-title, .site-title:visited, a:link, a:visited {
    color: $dsx-green;
    font-weight: 300;
  }
}

.home {
  @extend .container;
}

.post {
  @extend .wrapper;
}

.post-list {
  @extend .wrapper;
}

// Custom additions to thumbnail
.thumbnail {
  
  min-height: 344px;
  width: 352px;
  
  padding: 8px;
  margin-right: 20px;
  margin-bottom: 20px;
  
  border: solid 1px lightgrey;
  border-radius: 5px;
  
  position: relative;
  
  .demo-image {
    text-align: center;
    > img {
      max-height: $demo-img-height;
    }
  }
  
  .demo-website {
    position: absolute;
    bottom: 0;
  }
}

// Custom additions to links
a:link, a:visited {
  color: #2155c4;
}

blockquote {
  letter-spacing: normal;
}

.video-containter {
  position: relative;
  padding-top: 56.25%;
  > iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.medium-button {
  background-color: rgb(38, 74, 96);
  color: $dsx-green !important;
  font-size: 20px;
  padding: 10px;
  border-radius: 2px;
}