---
layout: default
---

<div class="home">
  
  <h1>Use Cases</h1>
  
  <div class="flex">
    {% for demo in site.pages %}
    {% if demo.path contains 'demo' %}
    <div class="col-sm-6 col-md-4">
      {% include thumbnail.html demo=demo %}
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <br/>

</div>

<div class="wrapper">
  
  <h1>Recent Posts</h1>
  {% include post_list.html limit=3 %}
  <h2><a class="page-link" href="{{ "/posts" | relative_url }}"><span class="glyphicon glyphicon-th-list"></span> All Posts</a></h2>
  
</div>
